In [4]:
student_info = {}
student_id_list =[]
id =2000

stu_data = tuple ([val for val in input().split(",")])
id =id+1
student_info[id]= stu_data
student_id_list.append(id)

stu_data = tuple ([val for val in input().split(",")])
id =id+1
student_info[id]= stu_data
student_id_list.append(id)

stu_data = tuple ([val for val in input().split(",")])
id =id+1
student_info[id]= stu_data
student_id_list.append(id)


stu_data = tuple ([val for val in input().split(",")])
id =id+1
student_info[id]= stu_data
student_id_list.append(id)

 Richa, 26152, CSE,90
 Mudita, 26111, CSE, 90
 Priti, 26148, CSE, 90
 Diksha, 26666,CSE, 90

In [13]:
#Display All Student
print("\n  Student-ID \t Name \t RollNo \t Branch \t Marks")
for key,val in student_info.items():
    print (" {}  \t {} \t {} \t\t {}   {}".format(key, val[0],val[1],val[2],val[3]))

  Student-ID 	 Name 	 RollNo 	 Branch 	 Marks
 2001  	 Richa 	  26152 		  CSE   90
 2002  	 Mudita 	  26111 		  CSE    90
 2003  	 Priti 	  26148 		  CSE    90
 2004  	 Diksha 	  26666 		 CSE    90

In [14]:
#Search all student with given branch
stubranch = input("Enter branch for search")
print("\nName \t RollNo \t Branch \t Marks")
for val in student_info.values():
    if val[2] == stubranch:
          print ("{} \t {} \t\t {}   {}".format(val[0],val[1],val[2],val[3]))

Enter branch for search CSE

Name 	 RollNo 	 Branch 	 Marks
Diksha 	  26666 		 CSE    90

In [15]:
#Update Student Record
student_info

{2001: ('Richa', ' 26152', ' CSE', '90'),
 2002: ('Mudita', ' 26111', ' CSE', ' 90'),
 2003: ('Priti', ' 26148', ' CSE', ' 90'),
 2004: ('Diksha', ' 26666', 'CSE', ' 90')}